.form_container {
    padding: 1% 2%;
    margin-top: 25%;
    width: 90%;
    background-color: rgba(255,255,255,0.8);
    color: black;
    border: 3px solid #f1f1f1;
    border-radius: 20px;
}

/* laptop screen! */
@media (min-width:801px) {
    .form_container {
        margin-top: 2%;
        width: 55%;
    }
}

.btn {
    border: 1px solid hsl(0, 0%, 95%);
    border-radius: 8px;
}

.form_container .bali_ka_bakra, .form_container #country_hidden_field {
    display: none;
}

.form_container .input_country {
    background: white;
    border-radius: 7px;
    padding: .375rem .75rem;
    margin-left: 0;
    margin-right: 0;
}

.form_container .search_icon {
    max-width: 3%;
    color: #cccccc;
}

.form_container .react-autosuggest__input {
    width: 100%;
    border: none;
    background: none;
}

.form_container .react-autosuggest__suggestions-container {
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.form_container .react-autosuggest__suggestions-list {
    list-style: none;
    padding-left: 0;
    background: #f2f2f2;
    color: black;
    border-radius: 7px;
}

/* also think about keyboard thing here */
.form_container .react-autosuggest__suggestions-list li:hover{
    background: #cccccc;
}

.form_container .react-autosuggest__suggestion {
    padding-left: 5%;
}